.contact-col {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.contact-col a {
    font-size: 1rem;
}

.contact-col a:hover {
    font-weight: 500;
    transition: color 0.2s;
}

.contact-col a {
    color: #fb8707;
}

/* RESPONSIVE STYLES */
@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 1rem 0.5rem;
        gap: 1rem;
    }

    .header-content {
        align-items: center;
    }

    .contact-info {
        gap: 0.5rem;
        align-items: center;
    }
}
/* HEADER SECTION STYLES */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e1e1e;
    color: white;
    padding: 1.5rem 2rem;
}

/* PROFILE PICTURE STYLES */
.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #fb8707;
}

/* HEADER CONTENT STYLES */
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* CONTACT INFO STYLES */
.contact-info {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
